::-webkit-scrollbar-track{
    border-radius: 100%;
}

#header{
    padding-top: 1%;
    padding-bottom: .25%;
    width: 100%;
    background: linear-gradient(90deg, #ff0000 10%, #ffffff 50%, #000000 80%);
    text-align: center;
}

#titleText{
    font-size: 50px;
}

#logo{
    width: 250px;
}

.container-fluid{
    max-width: 2000px;
    background-color: #b9b9b9;
}

#atencao{
    color: #ff0000;
    font-size: 2.0rem;
}

#tituloSecao{
    text-align: center;
}

hr{
    height: 123mm;
}

.col{
    user-select: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.soundsimg{
    background-size: 100% 100%;
    background-position: center;
    max-width: 406px;
    height: 406px;
    margin: auto;
    border: 3px solid black;
}

.speaker{
    width: 400px;
    height: 400px;
    display: none;
}

.btn-light{
    max-width: 450px;
    margin: auto;
    margin-top: 21px;
}

button.btn-light:hover{
    background-color: #ac1e1e;
    border-color: #ac1e1e;
    color: #dddddd;
}

input[type="range"]{
    appearance: none;
    -webkit-appearance: none;
    justify-self: center;
    background-color: transparent;
    width: 400px;
    border-radius: 20px;
    cursor: pointer;
    transition: 50ms linear;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 8px;
    border-radius: 20px;
    background-color: #ffffff;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: #00a2ff;
    border-radius: 50%;
    margin-top: -4px;
    transition: 50ms linear;
}

footer{
    margin: auto;
    text-align: center;
    padding-top: 30px;
    max-width: 2000px;
}

#mute{
    margin: 10px;
    width: 700px;
}

#opcao{
    width: fit-content;
}

#voltar{
    width: 300px;
    height: 50px;
    margin: 10px;
}

@media (max-width: 768px){
    #header{
        padding-top: 2%;
        background: linear-gradient(90deg, #ff0000 5%, #ffffff 50%, #000000 95%);
    }

    #logo{
        width: 150px;
    }

    #titleText{
        font-size: 40px;
    }

    .soundsimg{
        width: 250px;
        height: 250px;
    }

    .speaker{
        width: 250px;
        height: 250px;
    }

    input[type='range']{
        width: 260px;
    }

    #mute{
        margin: 1%;
        width: auto;
    }

    .form-control{
        font-size: 1rem;
    }

    #voltar{
        margin: 1%;
    }
}

@media (max-width: 375px){
    #btnmute, #mute{
        margin: auto;
        margin-bottom: 4px;
        font-size: 1rem;
    }
    #opcao{
        margin-bottom: 7px;
    }
    .form-control{
        padding-left: 3px;
        padding-right: 3px;
        font-size: 0.8rem;
    }
    #voltar{
        height: 40px;
        margin: auto;
        width: auto;
        font-size: 0.95rem;
        margin-bottom: 2px;
    }
}