::-webkit-scrollbar-track{
    border-radius: 100%;
}

#header{
    padding-top: 1%;
    padding-bottom: .25%;
    width: 100%;
    background: linear-gradient(90deg, #ff0000 10%, #ffffff 50%, #000000 80%);
    text-align: center;
}

#sbtext{
    font-size: 50px;
}

#logo{
    width: 250px;
}

.container-fluid{
    padding-top: 30px;
    background-color: #b9b9b9;
    max-width: 2000px;
}

#atencao{
    color: #ff0000;
    font-size: 2.0rem;
}

#tituloSecao{
    text-align: center;
    padding: 1%;
}

hr{
    height: 123mm;
}

.col{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.soundsimg{
    width: 400px;
    height: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid black;
}

.btn-light{
    max-width: 450px;
    margin: auto;
}

button.btn-light:hover{
    background-color: #ac1e1e;
    border-color: #ac1e1e;
    color: #dddddd;
}

footer{
    margin: auto;
    text-align: center;
    padding-top: 30px;
    max-width: 2000px;
}

#mute{
    margin: 1%;
    width: 700px;
}

#parar{
    width: fit-content;
}

#voltar{
    width: 300px;
    height: 50px;
    margin: 1%;
}

@media (max-width: 855px){
    #header{
        padding-top: 2%;
    }

    #logo{
        width: 150px;
    }

    #sbtext{
        font-size: 40px;
    }

    .soundsimg{
        width: 250px;
        height: 250px;
    }

    #mute{
        margin: 1%;
        width: auto;
    }

    #voltar{
        margin: 1%;
    }
}