::-webkit-scrollbar-track{
    border-radius: 100%;
}

#header{
    padding-top: 1%;
    padding-bottom: .25%;
    width: 100%;
    background: linear-gradient(90deg, #ff0000 10%, #ffffff 50%, #000000 80%);
    text-align: center;
}

#titleText{
    font-size: 50px;
}

#logo{
    width: 250px;
}

.container-fluid{
    max-width: 2000px;
    background-color: #b9b9b9;
}

#atencao{
    color: #ff0000;
    font-size: 2.0rem;
}

#tituloSecao{
    text-align: center;
}

hr{
    height: 123mm;
}

.col{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.soundsimg2{
    background-image: url(images/Carlinhos2.png);
    background-size: cover;
    width: 406px;
    height: 406px;
    margin: auto;
    border: 3px solid black;
}

.soundsimg3{
    background-image: url(images/Carlinhos3.png);
    background-size: cover;
    width: 406px;
    height: 406px;
    margin: auto;
    border: 3px solid black;
}

.soundsimg4{
    background-image: url(images/Carlinhos4.jpg);
    background-size: cover;
    width: 406px;
    height: 406px;
    margin: auto;
    border: 3px solid black;
}

.speaker{
    width: 400px;
    height: 400px;
    display: none;
}

.btn-light{
    max-width: 450px;
    margin: auto;
    margin-top: 21px;
}

button.btn-light:hover{
    background-color: #ac1e1e;
    border-color: #ac1e1e;
    color: #dddddd;
}

footer{
    margin: auto;
    text-align: center;
    padding-top: 30px;
    max-width: 2000px;
}

#mute{
    margin: 10px;
    width: 700px;
}

#opcao{
    width: fit-content;
}

#voltar{
    width: 300px;
    height: 50px;
    margin: 10px;
}

@media (max-width: 855px){
    #header{
        padding-top: 2%;
        background: linear-gradient(90deg, #ff0000 5%, #ffffff 50%, #000000 95%);
    }

    #logo{
        width: 150px;
    }

    #titleText{
        font-size: 40px;
    }

    .soundsimg2, .soundsimg3, .soundsimg4{
        width: 250px;
        height: 250px;
    }

    .speaker{
        width: 250px;
        height: 250px;
    }

    #mute{
        margin: 1%;
        width: auto;
    }

    .form-control{
        font-size: 1rem;
    }

    #voltar{
        margin: 1%;
    }
}