::-webkit-scrollbar-track{
    border-radius: 100%;
}

#loading{
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%; 
    width: 100%;
    background-color: #000000e0;
    z-index: 1;
    transition: 0.5s ease-out 0.2s;
    transition-behavior: allow-discrete; /*permite transições de elementos não-animaveis (opacidade por exemplo)*/
}

#loadingContent{
    font-size: 5rem;
    margin: auto;
    color: #fff;
}

#loadingGif{
    background-image: url(/loading.gif);
    background-size: cover;
    margin: auto;
    height: 200px;
    width: 200px;
}

#header{
    padding-top: 1%;
    padding-bottom: .25%;
    width: 100%;
    background: linear-gradient(90deg, #ff0000 10%, #ffffff 50%, #000000 80%);
    text-align: center;
}

#titleText{
    font-size: 50px;
}

#logo{
    width: 250px;
}

.container-fluid{
    max-width: 2000px;
    background-color: #b9b9b9;
}

#atencao{
    color: #ff0000;
    font-size: 2.0rem;
}

#tituloSecao{
    text-align: center;
}

hr{
    height: 123mm;
}

.col{
    user-select: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.soundsimg{
    background-size: 100% 100%;
    background-position: center;
    max-width: 406px;
    height: 406px;
    margin: auto;
    border: 3px solid black;
    overflow: hidden;
}

.speaker{
    width: 400px;
    height: 400px;
    display: none;
    -webkit-user-drag: none;
}

#mundo{
    width: inherit;
    height: inherit;
    background-size: 100% 100%;
    justify-self: center;
}

.btn-light{
    max-width: 450px;
    margin: auto;
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 21px;
}

button.btn-light:hover{
    background-color: #ac1e1e;
    border-color: #ac1e1e;
    color: #dddddd;
}

.audio-track{
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    width: 400px;
    height: 10px;
    cursor: pointer;
}

.audio-progress{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #0077ff;
    height: 10px;
    width: 0px;
}

.audio-thumb{
    margin-left: -2%;
    padding: 2%;
    border-radius: 50%;
    background-color: #0077ff;
    cursor: pointer;
}

footer{
    margin: auto;
    text-align: center;
    padding-top: 30px;
    max-width: 2000px;
}

#mute{
    margin: 10px;
    width: 700px;
}

#opcao{
    width: fit-content;
}

#voltar{
    width: 300px;
    height: 50px;
    margin: 10px;
}

@media (max-width: 768px){
    #loadingContent{
        font-size: 3rem;
    }

    #header{
        padding-top: 2%;
        background: linear-gradient(90deg, #ff0000 5%, #ffffff 50%, #000000 95%);
    }

    #logo{
        width: 150px;
    }

    #titleText{
        font-size: 40px;
    }

    .soundsimg{
        width: 176px;
        height: 176px;
    }

    .speaker{
        width: 170px;
        height: 170px;
    }

    .btn-light{
        font-size: 0.7rem;
        max-width: 176px;
    }

    .audio-track{
        width: 176px;
    }

    #mute{
        margin: 1%;
        width: auto;
    }

    .form-control{
        font-size: 1rem;
    }

    #voltar{
        margin: 1%;
    }
}

/*@media (max-width: 375px){
    .soundsimg{
        width: 150px;
        height: 150px;
    }

    .speaker{
        width: 145px;
        height: 145px;
    }

    .btn-light{
        font-size: 0.6rem;
        max-width: 150px;
    }

    input[type='range']{
        width: 140px;
    }

    #btnmute, #mute{
        margin: auto;
        margin-bottom: 4px;
        font-size: 1rem;
    }

    #opcao{
        margin-bottom: 7px;
    }

    .form-control{
        padding-left: 3px;
        padding-right: 3px;
        font-size: 0.8rem;
    }

    #voltar{
        height: 40px;
        margin: auto;
        width: auto;
        font-size: 0.95rem;
        margin-bottom: 2px;
    }
}

@media (max-width: 320px){
    .soundsimg{
        width: 210px;
        height: 210px;
    }

    .speaker{
        width: 205px;
        height: 205px;
    }

    .btn-light{
        font-size: 0.9rem;
        max-width: 230px;
    }

    input[type='range']{
        width: 200px;
    }
}*/