::-webkit-scrollbar-track{
    border-radius: 100%;
}

body{
    background-image: url(images/background.jpg);
}

#header{
    padding-top: 1%;
    padding-bottom: .25%;
    max-width: 100%;
    background-color: green;
    text-align: center;
}

#titleText{
    color: rgb(255, 125, 0);
    font-size: 50px;
    font-family: 'happysans', sans-serif;
}

.container-fluid{
    max-width: 2000px;
}

.soundsimg{
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: auto;
}

.speaker{
    width: 400px;
    height: 400px;
    display: none;
}

.col{
    user-select: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.btn-light{
    max-width: 450px;
    margin: auto;
    margin-top: 21px;
}

button.btn-light:hover{
    background-color: #2196f3;
    border-color: #2196f3;
    color: white;
}

input[type="range"]{
    appearance: none;
    -webkit-appearance: none;
    justify-self: center;
    background-color: transparent;
    width: 400px;
    border-radius: 20px;
    cursor: pointer;
    transition: 50ms linear;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 8px;
    border-radius: 20px;
    background-color: #ffffff;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: #00a2ff;
    border-radius: 50%;
    margin-top: -4px;
    transition: 50ms linear;
}

footer{
    margin: auto;
    text-align: center;
    padding-top: 30px;
    max-width: 2000px;
}

#mute{
    margin: 10px;
    width: 700px;
}

#opcao{
    width: fit-content;
}

#voltar{
    width: 300px;
    height: 50px;
    margin: 10px;
}

@font-face {
    font-family: 'happysans';
    src: url(HappySans.ttf) format(truetype);
}

@media (max-width: 768px){
    .soundsimg{
        width: 250px;
        height: 250px;
    }

    .speaker{
        width: 250px;
        height: 250px;
    }

    #header{
        padding-top: 2%;
    }

    #logo{
        width: 200px;
    }

    #titleText{
        font-size: 40px;
    }

    .col{
        padding: 5%;
    }

    input[type='range']{
        width: 260px;
    }

    #mute{
        margin: 1%;
        width: auto;
    }

    .form-control{
        font-size: 1rem;
    }

    #voltar{
        margin: 1%;
    }
}

@media (max-width: 375px){
    #btnmute, #mute{
        margin: auto;
        margin-bottom: 4px;
        font-size: 1rem;
    }
    #opcao{
        margin-bottom: 7px;
    }
    .form-control{
        padding-left: 3px;
        padding-right: 3px;
        font-size: 0.8rem;
    }
    #voltar{
        height: 40px;
        margin: auto;
        width: auto;
        font-size: 0.95rem;
        margin-bottom: 2px;
    }
}