::-webkit-scrollbar-track{
    border-radius: 100%;
}

#loading{
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%; 
    width: 100%;
    background-color: #000000e0;
    z-index: 1;
    transition: 0.5s ease-out 0.2s;
    transition-behavior: allow-discrete; /*permite transições de elementos não-animaveis (opacidade por exemplo)*/
}

#loadingContent{
    font-size: 5rem;
    margin: auto;
    color: #fff;
}

#loadingGif{
    background-image: url(/loading.gif);
    background-size: cover;
    margin: auto;
    height: 200px;
    width: 200px;
}

#header{
    padding-top: 1%;
    padding-bottom: .25%;
    width: 100%;
    background: linear-gradient(90deg, rgba(85,37,131,1) 40%, rgba(194,133,71,1) 70%, rgba(253,185,39,1) 100%);
    text-align: center;
}

#titleText{
    font-size: 50px;
}

#logo{
    width: 250px;
}

.container-fluid{
    max-width: 2000px;
    padding-top: 30px;
    background-color: #0f690f;
}

#disclaimer{
    margin: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 75%;
    background-color: #ffffff;
    font-size: 1.6rem;
    border: #808080 5px solid;
    text-align: center;
    padding: 20px;
}

#atencao{
    color: #ff0000;
    font-size: 2.0rem;
}

.col{
    user-select: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.soundsimgLuiz{
    background-image: url(images/luiz3.png);
    background-size: cover;
    width: 406px;
    height: 406px;
    margin: auto;
    border: 3px solid #000000;
}

.soundsimgCecato{
    background-image: url(images/cecato.png);
    background-size: cover;
    width: 406px;
    height: 406px;
    margin: auto;
    border: 3px solid #000000;
}

.speaker{
    width: 400px;
    height: 400px;
    display: none;
}

.btn-success{
    max-width: 450px;
    padding-right: 3px;
    padding-left: 3px;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 21px;
}

button.btn-success:hover{
    background-color: #088546;
    border-color: #088546;
}

.transcBox{
    margin: auto;
    max-width: 450px;
    border: 3px solid #d7d7d7;
    background-color: #ffffff;
}

.transcTitle{
    margin: 0;
}

.transcImg{
    width: 20px;
    height: 20px;
    padding: .5%;
    text-align: center;
    cursor: pointer;
}

.transcText{
    user-select: text;
    hyphens: auto;
    display: none;
    padding: 3.5px;
    background-color: #d7d7d7;
    border: 1px solid #000000;
    width: 100%;
}

input[type="range"]{
    appearance: none;
    -webkit-appearance: none;
    justify-self: center;
    background-color: transparent;
    width: 400px;
    border-radius: 20px;
    cursor: pointer;
    transition: 50ms linear;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 8px;
    border-radius: 20px;
    background-color: #ffffff;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: #00a2ff;
    border-radius: 50%;
    margin-top: -4px;
    transition: 50ms linear;
}

footer{
    margin: auto;
    text-align: center;
    padding-top: 30px;
    max-width: 2000px;
}

#mute{
    margin: 10px;
    width: 700px;
}

#opcao{
    width: fit-content;
}

#voltar{
    width: 300px;
    height: 50px;
    margin: 10px;
}

@media (max-width: 768px){
    #loadingContent{
        font-size: 3rem;
    }

    #disclaimer{
        width: 70%;
        font-size: 0.8rem;
        padding: 4px;
        border: #808080 3px solid;
    }

    #atencao{
        font-size: 1.3rem;
    }

    #header{
        padding-top: 2%;
    }

    #logo{
        width: 150px;
        margin: 10px;
    }

    #titleText{
        font-size: 40px;
    }

    .soundsimgLuiz, .soundsimgCecato{
        width: 176px;
        height: 176px;
    }

    .speaker{
        width: 170px;
        height: 170px;
    }

    .btn-success{
        font-size: 0.64rem;
        max-width: 176px;
    }

    .transcBox{
        max-width: 176px;
    }

    .transcTitle{
        font-size: 0.9rem;
    }

    .transcText{
        font-size: 0.8rem;
    }

    .transcImg{
        height: 15px;
        width: 15px;
    }

    input[type='range']{
        width: 176px;
    }

    #mute{
        margin: 1%;
        width: auto;
    }

    .form-control{
        font-size: 1rem;
    }

    #voltar{
        margin: 1%;
    }
}

/*@media (max-width: 375px){
    .soundsimgLuiz, .soundsimgCecato{
        width: 150px;
        height: 150px;
    }

    .speaker{
        width: 145px;
        height: 145px;
    }

    .btn-success{
        font-size: 0.62rem;
        max-width: 150px;
    }

    .transcBox{
        max-width: 150px;
    }

    .transcTitle{
        font-size: 0.8rem;
    }

    .transcText{
        font-size: 0.7rem;
    }

    input[type='range']{
        width: 140px;
    }

    #btnmute, #mute{
        margin: auto;
        margin-bottom: 4px;
        font-size: 1rem;
    }

    #opcao{
        margin-bottom: 7px;
    }

    .form-control{
        padding-left: 3px;
        padding-right: 3px;
        font-size: 0.8rem;
    }
    
    #voltar{
        height: 40px;
        margin: auto;
        width: auto;
        font-size: 0.95rem;
        margin-bottom: 2px;
    }
}

@media (max-width: 320px){
    .soundsimgLuiz, .soundsimgCecato{
        width: 210px;
        height: 210px;
    }

    .speaker{
        width: 205px;
        height: 205px;
    }

    .btn-success{
        font-size: 0.9rem;
        max-width: 230px;
    }

    .transcBox{
        max-width: 230px;
    }

    .transcTitle{
        font-size: 1rem;
    }

    .transcText{
        font-size: 0.9rem;
    }

    input[type='range']{
        width: 200px;
    }
}*/